**/serverless-output.*
**/.DS_Store
temp/
.DS_Store
serverless-output.yaml
**/results.xml
**/.vscode/
**/build/
**/dist/
**/*egg*
**/*.pyc
**/.vscode
**/*_cache
**/*pycache*
*coverage*
venv/
src/transformation/transformation-lambda.zip
**/.terraform*
**/*tfstate*
data.txt
*/src/transformation/transformation_utils/create_fact_sales_table.ipynb
/src/transformation/transformation_utils/create_fact_sales_table.ipynb
